<div class="container">
  <div class="row">
    <div class="col-md-12" id="header-content">
      <h5>Cac bai viet moi</h5>
      <p style="font-size: 14px">Tong so ket qua tra ve la 100</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="margin-bottom: 1em; ">
        <!-- image -->
        <div class="col-md-3 border border-secondary rounded card" id="img-content">
          <img src="../../assets/y-nghia-hoa-sen.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!-- content -->
        <div class="col-md-9">
          <h5 class="text-primary">{{content}}</h5>
          <div>
            <span style="font-size: 14px"><i></i>Nguoi dang: Le quang vinh</span>
            <span>|</span>
            <span style="font-size: 14px">Ngay dang: <i></i></span>
          </div>
          <div>
            <p>Thong tin ve bitcoin dang tro len rat hot trong nhung ngay qua</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 1em">
        <!-- image -->
        <div class="col-md-3 border border-secondary rounded card">
          <img src="../../assets/y-nghia-hoa-sen.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!-- content -->
        <div class="col-md-9">
          <h5>Thong tin ve bitcoin</h5>
          <div>
            <span style="font-size: 14px"><i></i>Nguoi dang: Le quang vinh</span>
            <span>|</span>
            <span style="font-size: 14px">Ngay dang: <i></i></span>
          </div>
          <div>
            <p>Thong tin ve bitcoin dang tro len rat hot trong nhung ngay qua</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 1em">
        <!-- image -->
        <div class="col-md-3 border border-secondary rounded ">
          <img src="../../assets/y-nghia-hoa-sen.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <!-- content -->
        <div class="col-md-9">
          <h5>Thong tin ve bitcoin</h5>
          <div>
            <span style="font-size: 14px"><i></i>Nguoi dang: Le quang vinh</span>
            <span>|</span>
            <span style="font-size: 14px">Ngay dang: <i></i></span>
          </div>
          <div>
            <p>Thong tin ve bitcoin dang tro len rat hot trong nhung ngay qua</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>