<div class="container">
  <!-- body -->
  <div class="row pr-3 pl-3">
    <div class="col-md-12">
      <div class="col-md-6 float-left">
        <!-- upload file -->
        <div class="row">
          <div class="col-md-12">
            <form (submit)="upLoadFile()">
              <h5 class="">Upload image</h5>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="file" (change)="handleChange($event.target.files)">
                  <label class="custom-file-label" for="file">Choose file</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- display text -->
        <div class="row">
          <div class="col-md-12">
            <h5>Text for image:</h5>
          </div>
        </div>
      </div>


      <!-- display video -->
      <div class="col-md-6 float-right">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
  <!-- end body -->
</div>