<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ITBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- banner -->
<div class="row">
  <div class="col-md-12 text-center">
    <img src="../assets/images/anhbanner.jpg" width="100%" height="300em" alt="">
  </div>
</div>
<!-- end banner -->
<div></div>
<!-- body -->
<router-outlet></router-outlet>

<!-- footer -->
<div class="row mt-5">
  <div class="col-md-12 bg-dark text-light p-3">
    <div class="col-md-6 float-left">
      <ul>
        <li>About</li>
      </ul>
    </div>

    <div class="col-md-6 float-right">
      <ul>
        <li>Contact: 01675967251</li>
        <li>Email: lequangvinh2891996@gmail.com</li>
        <li>Address: Đại học Bách Khoa Hà Nội</li>
      </ul>
    </div>
  </div>
</div>