<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Trang dang bai</h3>
        <!-- form dang bai -->
        <div class="row">
          <div class="col-md-9">
            <form action="">
              <!-- title -->
              <div class="input-group">
                <div class="input-group-prepend col-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Tieu de cua bai viet: </span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <!-- end -->
              <!-- date -->
              <div class="input-group">
                <div class="input-group-prepend col-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Ngay dang: </span>
                </div>
                <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
              <!-- end -->

              <!-- content news -->
              <div class="input-group" style="margin-top: 1em">
                <div class="input-group-prepend col-3">
                  <span class="input-group-text " id="inputGroup-sizing-default">Noi dung: </span>
                </div>
                <ckeditor [(ngModel)]="ckeditorContent" name="content" [config]="{uiColor: '#66AB16'}">
                </ckeditor>

              </div>
              <!-- end -->
            </form>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</body>

</html>